@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');


body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat',sans-serif;
	background:  -webkit-linear-gradient(rgba(5, 610, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
	-webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 255, 65, 0.9) 76%);
   }
   



.dws-wrapper {
	max-width: 1250px;
	background: rgb(255, 255, 255);
	padding: 0px;
	margin: auto;
  }
  .container {
    display: flex;
   
   }




  nav{
    background: #151515;
    padding: 5px 40px;
  }
  nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li{
    padding: 15px 0;
    cursor: pointer;
  }
  nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
  }
  nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
  }
  nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
  }
  nav ul li.logo{
    flex: 1;
    color: white;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }
  nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
  }
  nav ul li:hover a{
    color: cyan;
  }
  nav ul li i{
    font-size: 23px;
  }
  nav ul li.btn{
    display: none;
  }
  nav ul li.btn.hide i:before{
    content: '\f00d';
  }
  @media all and (max-width: 900px){
    nav{
      padding: 5px 30px;
    }
    nav ul li.items{
      width: 100%;
      display: none;
    }
    nav ul li.items.show{
      display: block;
    }
    nav ul li.btn{
      display: block;
    }
    nav ul li.items:hover{
      border-radius: 5px;
      box-shadow: inset 0 0 5px #33ffff,
                  inset 0 0 10px #66ffff;
    }
    nav ul li.items:hover:after{
      opacity: 0;
    }
  }

   .sidebar {
    width: 250px;
   }
   .content {
    width: 100%;
    margin-left: 20px;
   }
   .sidebar-menu {
    background: #676767;
    padding: 0;
    margin: 0;
    list-style: none;
   }

   @media all and (max-width: 820px) {
    .header img {
   width: 100px;
  }
  .banner img {
   width: 100%;
  }
  .top-menu li a {
   font-size: 12px;
  }
  .container {
   flex-direction: column-reverse;
  }
  .sidebar {
   width: 100%;
   text-align: center;
  }
  .sidebar img {
   margin: 10px 5px 10px;
  }
  .content {
   margin-left: 0;
  }
  }
  
  
  @media all and (max-width: 580px) {
   .top-menu li,
   .banner {
    display: none;
   }
   .top-menu::before {
    content: '';
    height: 39px;
   }
   .sidebar-menu {
    margin-bottom: 5px;
   }
   .sidebar img {
    width: 100%;
    margin: 5px auto;
   }
   .content h1 {
    font-size: 26px;
   }
   .content p {
    font-size: 14px;
   }
   .box-text {
    flex-direction: column;
   }
   .box-text img {
    margin: 0;
    height: 150px;
   }
   .text {
    padding: 10px;
   }
   .text h2 {
    font-size: 20px;
    margin:5px 0 0;
   }
  }

  .footer {
    background: #153243;
    height: 55px;
    display: flex;
    justify-content: center;
  
   }
   .footer p {
    color: #ffffff;
    margin: auto;
   }


   .nav2{
    padding: 0;
    width:250px;
    height:auto;
    font-family:'Open Sans',sans-serif ;
    margin: 50px auto;
    overflow:hidden;
    }
    .nav2 ul li {
      padding:  0;
      cursor: pointer;
  }
  @media all and (max-width: 580px) {
    .nav2{
      padding: 0;
      width:auto;
      height:auto;
      font-family:'Open Sans',sans-serif ;
      margin: 50px auto;
      overflow:hidden;
      }
  }

  .item input{
    display:none;
    }

    .item  label{
      display:block;
      padding:10px;
      background-color:#216980;
      font-size:20px;
      color:#fff;
      cursor:pointer;
      border-bottom:solid 2px #aaa;
      }
    
    .item label span{
      padding-left:240px;
      transform:rotateX(45deg);
      }
    .item label:hover{
      background-color:#4a4a4a;
      }

      .item ul{
        display: block;
        overflow:hidden;
        max-height:0;
        transition: all .4s;
        background-color:#fff;
        width:100%;
        
        margin:0;
        padding:0;
        }
      .item ul li a{
        width:100%;
        height: 40px;
        background-color:#fafafa;
        display:block;
        text-decoration:none;
        color: #333;
        border-bottom: 2px solid #aaa;
        padding: 10px;
        }
      
      .item ul li a:hover{
        background-color:#9CF;
        }
      
        .item input:checked ~ ul{
          display: block;
          height:auto;
          max-height:200px;
          transition: all .4s linear;
          }
          
        
        
          .item input:checked ~ label span{
          
          }
     

header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 1250px;
  height: 350px;
  background: #153243;
  
@media (min-width: 1024px) {
flex-direction: row;
}       

}
          
.carusel {
    position: relative;
    flex: calc(100vw / 6) 1 1;
    background-size: cover;
    overflow: hidden;
    filter: saturate(90%);
    transition: 1s; 
       }
          
  .carusel:before {
     content: "";
     position: absolute;
     inset: 0;
     background: linear-gradient(25deg, rgba(0,0,0,.9), rgba(0,0,0,0));
     }
          
          .carusel:not(:last-child) {
            border-bottom: 1px solid #ccc;
            animation: borderPulse 5s infinite;
            
            @media (min-width: 1024px) {
              border-right: 1px solid #ccc;
              border-bottom: none;
            }
          }
          
          .carusel:hover {
            flex-basis: 40%;
            filter: saturate(120%);
            
            @media (min-width: 1024px) {
              flex-basis: 75%;
            }
            
            .quote {
              opacity: 1;
              transform: translateX(0);
            }
          }
          
          .carusel:nth-child(1) {
            background-image: url("https://images8.alphacoders.com/702/702291.jpg");
            background-position: 72% 35%;
          }
          
          .carusel:nth-child(2) {
            background-image: url("https://images3.alphacoders.com/613/613613.jpg");
            background-position: 60% 8%;
          }
          
          .carusel:nth-child(3) {
            background-image: url("https://images7.alphacoders.com/855/855586.jpg");
            background-position: 52% 8%;
          }
          
          .carusel:nth-child(4) {
            background-image: url("https://images5.alphacoders.com/613/613619.jpg");
            background-position: 45% 8%;
          }
          
          .carusel:nth-child(5) {
            background-image: url("https://images2.alphacoders.com/547/547211.png");
            background-position: 45% 25%;
          }
          
          .carusel:nth-child(6) {
            background-image: url("https://images.alphacoders.com/102/1020192.jpg");
            background-position: 65% 2%;
          }
          
          .quote {
            position: absolute;
            color: #fff;
           
            max-width: 300px;
            opacity: 0;
         
            @media (min-width: 1024px) {
              left: 15%;
              bottom: 35%;
              width: 30vw;
            }
          }
            
        
            
  .khaleesi  {
              position: relative;
              display: inline-block;
              margin-bottom: 0.4rem;
              font-size: 1.1rem;
             
              font-style: italic;
              
              &:before, &:after {
                position: absolute;
                font-size: 5.5rem;
                opacity: .6;
              }
              
              &:before {
                content: "“";
                top: 4rem;
                left: -2rem;
                transform: translate(-100%, -100%);
              }
              
              &:after {
                content: "”";
                bottom: 2rem;
                right: -2rem;
                transform: translate(100%, 100%);
              }
            }
            .da {
              position: absolute;
              bottom: -2rem;
              right: 0;
              text-align: right;
              font-size: 1.2rem;
              font-weight: bold;
              transform: translate(4rem, 100%);
           
            &:before {
              content: "—";
              margin-right: .7rem;
            }
          }
       
             
     
:root {
            --direction: ltr;
            --direction-alt: rtl;
          }
          .article {
            display: grid;
            align-items: start;
            grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
            gap: var(--space-md);
          }
          
          /* Alternate direction */
          .article:nth-child(even) {
            direction: var(--direction-alt);
          }
          
          /* Revert direction on child elements */
          .article > * {
            direction: var(--direction);
          }
          
          /* Other page styling */
          
          .main {
            --space-xs: 0.5rem;
            --space-sm: 1rem;
            --space-md: 2rem;
            --space-lg: 2rem;
          
          }
          .section-wrap {
            margin-inline-start: auto;
            margin-inline-end: auto;
            padding-inline-start: var(--space-md);
            padding-inline-end: var(--space-md);
            max-inline-size: 1000px;
          }
          
          
          .main > * + * {
            margin-block-start: var(--space-lg);
            margin-block-end: var(--space-lg);
          }
          
          .content > * + * {
            margin-block-start: var(--space-sm);
          }
          
          .headline {
            font-weight: bold;
            font-size: clamp(1.75rem, 4vw, 2.5rem);
            line-height: 1.25;
            letter-spacing: -0.01em;
          }
          
          .image-wrap {
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            aspect-ratio: 16 / 9;
            inline-size: 100%;
            margin: 0;
          }
          
          .image-wrap img {
            position: absolute;
            object-fit: cover;
            inline-size: 100%;
          }
          
          
          .content {
            padding: 5px;
            background-color: rgb(250, 244, 237);
           
          }
          .article {
            border: 1px solid rgb(16, 16, 17);
            
          }       

.rozdil {
}

.block {
  display: flex;
  justify-content: space-between;  
}
data   {

}
.author {
}
 

.shadow-text{


  color: #f40909; /* Цвет  текста */
  font-size: 2em; /* Размер  текста */
  font-weight: bold;
  padding: 10px 0px;
  text-align: center; 
  text-decoration: none;
 

  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


.shadow-text:hover{
  color: #ffa000; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;

     
}
     